<div class="app" [ngClass]="
    {
        'is-collapsed': app.layout.isMenuCollapsed,
        'is-opened': app.layout.isMenuOpened,
        'rtl' : app.layout.rtlActived
    }">
    <div class="layout" [ngClass]="headerSelected">

        <div [ngClass]="sidenavSelected">
            <!-- Side Nav START -->
            <div class="side-nav" sideBar>
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="" [routerLink]="['/dashboard']">
                            <div class="logo" [style.background-image]="'url(' + user.brand_img_url + ')'"></div>
                            <!-- <div class="logo logo-dark" style="background-image: url('assets/images/logo/logo-phillips.png')" *ngIf="user.brand_img_url === 'PHILLIPS'"></div> -->
                            <!-- <div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div> -->
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                            <a href="javascript:void(0);" (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable">
                        <li clas="nav-item" routerLinkActive="active">
                            <a class="mrg-top-30" href="" [routerLink]="['/dashboard']">
                                <span class="icon-holder">
                                    <i class="ti-home"></i>
                                </span>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="" [routerLink]="['/survey/list']">
                                <span class="icon-holder">
                                    <i class="ti-package"></i>
                                </span>
                                <span class="title">Survey</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown" routerLinkActive="open">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-palette"></i>
                                </span>
                                <span class="title">Site Management</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/ui-elements/cards']">Site List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-file"></i>
                                </span>
                                <span class="title">Master data Import</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/forms/form-elements']">CMS Manual Import</a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-layouts']">CMS Matching</a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-wizard']">Matching Errors</a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-wizard']">Sales Reps Map </a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-wizard']">Sales Managers Map</a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-wizard']">Adding new sites and projects</a>
                                </li>
                                <li>
                                    <a href="" [routerLink]="['/forms/form-wizard']">Bulk Editing of site and project info</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown" routerLinkActive="open">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-layout-media-overlay"></i>
                                </span>
                                <span class="title">Customer Management</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/tables/basic-table']">Customer List</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-pie-chart"></i>
                                </span>
                                <span class="title">Payments</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/charts/nvd3']">Payments View Page</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown" routerLinkActive="open">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-map-alt"></i>
                                </span>
                                <span class="title">Vendor Management</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/maps/google-map']">Vendors View Page</a>
                                </li> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-cloud"></i>
                                </span>
                                <span class="title">User Management</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" [routerLink]="['/extras/invoice']">User List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ti-view-list-alt"></i>
                                </span>
                                <span class="title">User Self Registration Process</span>
                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0);">
                                        <span>New User registration form</span>
                                    </a>
                                </li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">

                <!-- Top Nav START -->
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-left">
                            <li>
                                <a class="side-nav-toggle" href="javascript:void(0);" (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
                                    <i class="ti-view-grid"></i>
                                </a>
                            </li>


                            <li class="search-box">
                                <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                                    <i class="search-icon ti-search pdd-right-10"></i>
                                    <i class="search-icon-close ti-close pdd-right-10"></i>
                                </a>
                            </li>
                            <li class="search-input">
                                <input class="form-control" type="text" placeholder="Search...">
                                <div class="advanced-search">
                                    <div class="search-wrapper">
                                        <div class="pdd-vertical-10">
                                            <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                                <i class="ti-user pdd-right-5"></i>
                                                <span>People</span>
                                            </span>
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-1.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Jordan Hurst</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>44 Shirley Ave. West Chicago</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Jennifer Watkins</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>514 S. Magnolia St. Orlando</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Michael Birch</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>70 Bowman St. South Windsor</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mrg-horizon-20 border top"></div>
                                        <div class="pdd-vertical-10">
                                            <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                                <i class="ti-rss pdd-right-5"></i>
                                                <span>Post</span>
                                            </span>
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/img-1.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Artoo expresses his relief</span>
                                                            <span class="sub-title">
                                                                <span>Oh, thank goodness we're coming out...</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/img-2.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Ready for some power?</span>
                                                            <span class="sub-title">
                                                                <span>Lord Vader. You may take Caption So...</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="search-footer">
                                        <span>You are Searching for '
                                            <b class="text-dark">
                                                <span class="serach-text-bind"></span>
                                            </b>'</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="top-menu-item-main" *ngFor="let navItem of navigationList">
                                <a href="{{navItem.link}}" target="_blank">
                                    <span class="{{navItem.icon}}"></span>
                                    <span>{{navItem.label}}</span>
                                </a>
                            </li>
                            <li class="top-menu-division">
                                &nbsp;
                            </li>
                            <li class="user-profile dropdown">
                                <!-- <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="profile-img img-fluid" src="assets/images/user.jpg">
                                    <div class="user-info">
                                        <span class="name pdd-right-5">Nate Leong</span>
                                        <i class="ti-angle-down font-size-10"></i>
                                    </div>
                                </a> -->
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">
                                            <i class="ti-settings pdd-right-10"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-user pdd-right-10"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-email pdd-right-10"></i>
                                            <span>Inbox</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a (click)="logout()" href="javascript://void(0)">
                                            <i class="ti-power-off pdd-right-10"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="notifications dropdown">
                                <!-- <span class="counter">2</span>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                </a> -->
                                <ul class="dropdown-menu ">
                                    <li class="notice-header">
                                        <i class="ti-bell pdd-right-10"></i>
                                        <span>Notifications</span>
                                    </li>
                                    <ul [perfectScrollbar] class="list-info overflow-y-auto relative scrollable">
                                        <li>
                                            <a href="">
                                                <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg" alt="">
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Jennifer Watkins</span>
                                                        <span class="text-gray">commented on your
                                                            <span class="text-dark">post</span>
                                                        </span>
                                                    </span>
                                                    <span class="sub-title">5 mins ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg" alt="">
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Samuel Field</span>
                                                        <span class="text-gray">likes your
                                                            <span class="text-dark">photo</span>
                                                        </span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-primary">
                                                    <span class="text-white">M</span>
                                                </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Michael Birch</span>
                                                        <span class="text-gray">likes your
                                                            <span class="text-dark">photo</span>
                                                        </span>
                                                    </span>
                                                    <span class="sub-title">5 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-success">
                                                    <span class="text-white">
                                                        <i class="fa fa-paper-plane-o"></i>
                                                    </span>
                                                </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Message sent</span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-info">
                                                    <span class="text-white">
                                                        <i class="ti-user"></i>
                                                    </span>
                                                </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Admin</span>
                                                        <span class="text-gray">Welcome on board</span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <li class="notice-footer">
                                        <span>
                                            <a href="" class="text-gray">Check all notifications
                                                <i class="ei-right-chevron pdd-left-5 font-size-10"></i>
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <!-- <a class="side-panel-toggle" href="javascript:void(0);" >
                                    <i class="ti-align-right"></i>
                                </a> -->
                                <a href="javascript:void(0);" class="dropdown-toggle side-panel-toggle user-profile" (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
                                    <li class="notifications dropdown" *ngIf="notificationsList?.length > 0">
                                        <span class="counter" style="margin-right: 108px !important;">
                                            <span *ngIf="user.can_approve">0</span>
                                            <span *ngIf="!user.can_approve"> {{notificationsList?.length}}</span>
                                        </span>
                                    </li>
                                    <img class="profile-img img-fluid" src="assets/images/user.jpg">
                                    <div class="user-info">
                                        <span class="name pdd-right-5">{{user.name}}</span>
                                        <i class="ti-angle-down font-size-10"></i>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">
                                            <i class="ti-settings pdd-right-10"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-user pdd-right-10"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-email pdd-right-10"></i>
                                            <span>Inbox</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a (click)="logout()" href="javascript://void(0)">
                                            <i class="ti-power-off pdd-right-10"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Top Nav END -->

                <!-- Side Panel START -->
                <div class="side-panel" [ngClass]="{'side-panel-open' : app.layout.sidePanelOpen}">

                    <div class="side-panel-wrapper bg-white">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" href="#chat" role="tab" data-toggle="tab">
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#profile" role="tab" data-toggle="tab">
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#todo-list" role="tab" data-toggle="tab">
                                    <span>Menu</span>
                                </a>
                            </li>
                            <li class="panel-close">
                                <a class="side-panel-toggle" href="javascript:void(0);" (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
                                    <i class="ti-close"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- chat START -->
                            <div id="chat" role="tabpanel" class="tab-pane fade in active">
                                <ul [perfectScrollbar] class="list-info overflow-y-auto relative scrollable notifications-main" *ngIf="!user.can_approve">
                                    <li *ngFor="let notify of notification">
                                        <a href="">
                                            <span class="thumb-img bg-primary">
                                                <span class="text-white">M</span>
                                            </span>
                                            <div class="info">
                                                <span class="title">
                                                    <span class="font-size-14 text-semibold">Your request for PBL Site Number: </span>
                                                    <span class="text-gray">#{{notify?.PBLSiteNumber}} is
                                                        <span class="text-dark">Approved</span>
                                                    </span>
                                                </span>
                                                <span class="sub-title">Survey Date: {{notify?.SurveyDate}}</span>
                                                <span class="sub-title">Address {{notify?.SiteAddress}} {{notify?.SiteCity}} {{notify?.SiteState}}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- chat END -->
                            <!-- profile START -->
                            <div id="profile" role="tabpanel" class="tab-pane fade">
                                <div class="profile scrollable">
                                    <div class="pdd-horizon-20 pdd-top-20">
                                        <div class="border bottom">
                                            <div class="text-center mrg-top-20">
                                                <div class="row">
                                                    <div class="col-md-6 ml-auto mr-auto text-center">
                                                        <img class="img-fluid border-radius-round" src="assets/images/avatars/user-1.jpg">
                                                    </div>
                                                </div>
                                                <h4 class="mrg-top-20">{{user.name}}</h4>
                                                <span class="">User Role</span>
                                            </div>
                                            <div class="row text-center pdd-vertical-20">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-sm-4 col-xs-4 border right">
                                                            <div class="pdd-vertical-10">
                                                                <span class="font-size-18 text-dark">18</span>
                                                                <small>Projects</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-4 border right">
                                                            <div class="pdd-vertical-10">
                                                                <span class="font-size-18 text-dark">1,362</span>
                                                                <small>Followers</small>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-4">
                                                            <div class="pdd-vertical-10">
                                                                <span class="font-size-18 text-dark">362</span>
                                                                <small>Points</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile END -->
                            <!-- todo START -->
                            <div id="todo-list" role="tabpanel" class="tab-pane fade">
                                <div class="todo-wrapper">
                                    <div class="todo-category-wrapper">
                                        <ul class="user-menu-main">
                                            <li>
                                                <a href="">
                                                    <i class="ti-settings pdd-right-10"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <i class="ti-user pdd-right-10"></i>
                                                    <span>Change Password</span>
                                                </a>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                <a href="">
                                                    <i class="ti-email pdd-right-10"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="logout-main">
                                <a (click)="logout()" href="javascript://void(0)">
                                    <i class="ti-power-off pdd-right-10"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Side Panel END -->

                    <!-- Theme Configurator START -->
                    <div class="theme-configurator" [ngClass]="{'theme-config-open' : app.layout.themeConfigOpen}">
                        <div class="configurator-wrapper">
                            <div class="config-header">
                                <h4 class="config-title">Config Panel</h4>
                                <button class="config-close" (click)="app.layout.themeConfigOpen = !app.layout.themeConfigOpen">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="config-body">
                                <div class="mrg-btm-30">
                                    <p class="lead font-weight-normal">Header Color</p>
                                    <div class="theme-colors {{headerTheme}}" *ngFor="let headerTheme of headerThemes">
                                        <input type="radio" id="{{headerTheme}}" name="theme" value="{{headerTheme}}" (click)="changeHeader(headerTheme)">
                                        <label for="{{headerTheme}}"></label>
                                    </div>
                                </div>
                                <div class="mrg-btm-30">
                                    <p class="lead font-weight-normal">Sidebar Color</p>
                                    <div class="theme-colors {{sidenavTheme}}" *ngFor="let sidenavTheme of sidenavThemes">
                                        <input type="radio" id="{{sidenavTheme}}" name="sidenav" (click)="changeSidenav(sidenavTheme)">
                                        <label for="{{sidenavTheme}}"></label>
                                    </div>
                                </div>
                                <div class="mrg-btm-30">
                                    <p class="lead font-weight-normal no-mrg-btm">RTL</p>
                                    <div class="toggle-checkbox checkbox-inline toggle-sm mrg-top-10">
                                        <input type="checkbox" name="rtl-toogle" id="rtl-toogle" (click)="app.layout.rtlActived = !app.layout.rtlActived">
                                        <label for="rtl-toogle"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Theme Configurator END -->

                    <!-- Theme Toggle Button START -->
                    <!-- <button class="theme-toggle btn btn-rounded btn-icon" (click)="app.layout.themeConfigOpen = !app.layout.themeConfigOpen">
                        <i class="ti-palette"></i>
                    </button> -->
                    <!-- Theme Toggle Button END -->

                    <!-- Content Wrapper START -->
                    <div class="main-content">
                        <router-outlet></router-outlet>
                    </div>
                    <!-- Content Wrapper END -->

                    <!-- Footer START -->
                    <footer class="content-footer">
                        <div class="footer">
                            <div class="copyright">
                                <span>Copyright © 2017
                                    <b class="text-dark">BRRF</b>. All rights reserved.</span>
                                <span class="go-right">
                                    <a href="" class="text-gray mrg-right-15">Term & Conditions</a>
                                    <a href="" class="text-gray">Privacy & Policy</a>
                                </span>
                            </div>
                        </div>
                    </footer>
                    <!-- Footer END -->

                </div>
                <!-- Page Container END -->

            </div>
        </div>
    </div>
    <ng2-toasty [position]="'top-right'"></ng2-toasty>