.background-red{
    background-color: #0f9aee;
}
.logout-main{
    position: absolute;
    width: 100%;
    height: 40px !important;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    background-color: #0f9aee;
    color: #fff;
}
.logout-main a{
    color: #fff;
    text-decoration: none;
}
.logout-main a:hover{
    color: #000;
    text-decoration: none;
}

.top-menu-item-main{
    
}
.top-menu-item-main a{
    display: flex !important;
    flex-direction: column;
    text-align: center;
}
.top-menu-item-main a span:first-child{
    margin-top: 20px;
    width: 100%;
    height: 20px;
}
.icon-flowapp{
    background-image: url(../../assets/images/icons/icon-flowapp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px;
}
.icon-sam{
    background-image: url(../../assets/images/icons/icon-sam.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
}
.icon-mid-bulder{
    background-image: url(../../assets/images/icons/icon-mid-builder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-ecommerce{
    background-image: url(../../assets/images/icons/icon-ecommerce.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.icon-admin{
    background-image: url(../../assets/images/icons/icon-admin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}
.top-menu-item-main a span{
    line-height: 20px !important;
    font-size: 11px;
    font-weight: 400;
}
.top-menu-division{
    border-right: 1px solid #ccc;
    height: 64px;
}

.notifications-main{
    margin: 10px;
}
.user-menu-main{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
}

.divider{
    border-bottom: 1px solid #e6ecf5;
    width: 100%;
    margin-bottom: 15px;
}